.?venv/
.pytest_cache/

attic/
doc/
scripts/
sml_server_time/

.coverage/
htmlcov/

config.ini
config.local.ini
coverage.xml


**/.git
**/.gitignore
**/.git*
**/.github
**/.idea
**/.project
**/__pycache__
**/.pytest_cache
**/.?venv
