[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "~=0.6"
paho-mqtt = "~=1.6"
pysml = "==0.0.2"   ## needs to be 0.0.5 because of async-timeout problem
typing = "~=3.7"

[dev-packages]
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest-clarity = "*"
pytest-icdiff = "*"

[scripts]
cov = "pipenv run pytest -p no:pytest-services --cov=. --cov-report=html --cov-report=xml --cov-report=term"
check = "pre-commit run --all-files"
