[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "~=0.6"
paho-mqtt = "~=1.6"
pysml = "==0.0.2"   ## needs to be 0.0.5 because of async-timeout problem
typing = "~=3.7"

[dev-packages]
pytest = "~=6.2.5"
pylint = "*"
flake8 = "*"
sync = "*"

[requires]
