[Unit]
Description=SML Smart Meter MQTT


[Service]
Type=simple
ExecStart=/bin/sh -c '/opt/smlmqttprocessor/sml_server_time/sml_server_time /dev/ttyAMA0 | /opt/smlmqttprocessor/.venv/bin/python3 /opt/smlmqttprocessor/smltextmqttprocessor.py --config config.local.ini -q -'
WorkingDirectory=/opt/smlmqttprocessor
Nice=-5
User=smartmeter
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=smartmeter


[Install]
WantedBy=multi-user.target
